.insights {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.visual {
    margin-top: 10px;
    width: 1500px;
    height: 800px;
    border: 1px solid black;
    padding-top: 7px;
}

.insight-header {
    margin-top: 10px;
    font-size: 18px;
}