<div class="right">

    <h2 class="headers-in-box">Few products you might like...</h2>
    <div class="products">

        <div class="product" *ngFor="let product of products">

            <div id="product-image">

                <img src="../../assets/{{ctr}}.jpeg" alt="">
            </div>
            <div class="product-details">
                <h3 class="left-padding"> <strong>Product Id: </strong></h3>
                <button class="subsctibe-button">Add to cart</button>
                <button class="subsctibe-button">Add to wishlist</button>
            </div>
        </div>
    </div>

</div>